
 @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Hind Siliguri", sans-serif;
}
body{
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #FFFFFF00;
}
.one h4{
  font-size: 17px;
}


.sm-heading{
  text-align: center;
}
.sm-heading img{
  width: 120px;
  margin-top: 20x;
}
.sm-heading h2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.sm-heading h2 span{
  color: hsla(31, 100%, 50%, 1);
  font-size: 20px;
}
.one h5{
  color: #FE6100;
  font-size: 17px;
  font-family: "Noto Serif Bengali", sans-serif;
}

h4 span{
  font-size: 13px;
  font-weight: 300;
}

.one p span{
  font-size: 7px;
}
.one p{
  color: #FE6100;
  font-family:  "Noto Serif Bengali", sans-serif;
}
.content{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .content .card{
  background: #0900FF;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 30px  30px 30px;
  border: 0.5px solid #FE6100;
  border-radius: 10px;
}
.card img{
  width: 100px;
}

.card h2{
  margin-top: 10px;
}
.card h2 span{
  font-size: 15px;
  color: #FE6100;
  font-weight: 400;
}
.card:hover {
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.content .card .info{
  font-size: 16px;
  margin-top: 15px;
}
.content .card .details .one{
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content .card .details .one::before{
  position: absolute;
  content: "";
  width: 100%;
  background: #ddd;
  height: 1px;
  left: 0;
  top: -12px;
  border-radius: 25px;
}


.content .card .sm-btn{
  outline: none;
  font-weight: 800;
  border: none;
  height: 47px;
  color: #FE6100;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 22px;
  width: 100%;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: none;
  border: 1px solid #FE6100;
  text-decoration: none;
  text-align: center; 
  padding-top: 5px;
}
.content .one .top,
.content .one button{
  background: transparent;
}
.content .sm-btn:hover {
  filter: brightness(90%);
  border-radius: 4px;
  background-color: #FE6100;
  color: #FFFFFF; 
  font-size: 25px;
  padding-bottom: 6px;
}
.content .one ::selection{
background: #FFEADE;
}

@media (max-width:1000px) {
   .content .card{
    background: #FFEADE;
    width: calc(50% - 20px);
    margin-bottom: 30px;
}
}
@media (max-width:715px) {
 .content .card{
    width: 100%;
}

}
